<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
  <div
    class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
  >
    <div class="flex flex-col overflow-y-auto md:flex-row">
      <div class="h-32 md:h-auto md:w-1/2">
        <img
          aria-hidden="true"
          class="object-cover w-full h-full dark:hidden"
          src="../assets/img/create-account-office.jpeg"
          alt="Office"
        />
        <img
          aria-hidden="true"
          class="hidden object-cover w-full h-full dark:block"
          src="../assets/img/create-account-office-dark.jpeg"
          alt="Office"
        />
      </div>
      <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
        <div class="w-full">
          <h1
            class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
          >
            ایجاد یک حساب جدید
          </h1>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400">نام کاربری</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                type="text" 
                placeholder="نام کاربری را وارد کنید" 
                formControlName="username" 
                [ngClass]="{ 'red':  f['username'].errors && f['username'].touched }"
              />
            </label>
            <div *ngIf="f['username'].touched && f['username'].invalid" class="red">
              <div *ngIf="f['username'].errors?.['required']"> لطفا یک نام کاربری انتخاب کنید </div>
            </div>
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400">ایمیل</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                type="email" 
                placeholder="ایمیلتان را وارد کنید" 
                formControlName="email" 
                [ngClass]="{ 'red':  f['email'].errors && f['email'].touched }"
              />
            </label>
            <div *ngIf="f['email'].touched && f['email'].invalid" class="red">
              <div *ngIf="f['email'].errors?.['required']"> لطفا یک  ایمیل انتخاب کنید </div>
              <div *ngIf="f['email'].errors?.['email']">     یک ایمیل معتبر انتخاب کنید  </div>
            </div>

            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">رمز عبور</span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="***************"

                type="password" placeholder="پسورد را وارد کنید"
                  formControlName="password1" 
                  [ngClass]="{ 'red':  f['password1'].errors && f['password1'].touched }"
                  
              />
              <div *ngIf="f['password1'].touched && f['password1'].invalid" class="red">
                <div *ngIf="f['password1'].errors?.['required']"> لطفا یک  رمز انتخاب کنید </div>
                <div *ngIf="f['password1'].errors?.['minlength']||f['password1'].errors?.['maxlength']">پسورد باید بین 4 تا 8  حرف باشد</div>
              </div>
            </label>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400">
                تایید پسورد
              </span>
              <input
                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                placeholder="***************"
                type="password" placeholder="پسورد را  دوباره وارد کنید"
                formControlName="password2" 
                [ngClass]="{ 'red':  f['password2'].errors && f['password2'].touched }"
                
              />
            </label>
            <div *ngIf="f['password2'].touched && f['password2'].invalid" class="red">
              <div *ngIf="f['password2'].errors?.['required']"> لطفا رمز را دوباره وارد نمایید </div>
              <div *ngIf="f['password2'].errors?.['minlength']||f['password2'].errors?.['maxlength']">پسورد باید بین 4 تا 8  حرف باشد</div>
            </div>
  
            <div class="flex mt-6 text-sm">
              <label class="flex items-center dark:text-gray-400">
                <input
                  type="checkbox"
                  class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                />
                <span class="mr-2">
                  من با
                  <span class="underline">شرایط</span> موافقم
                </span>
              </label>
            </div>
  
            
            <button 
            class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            type="submit"
            [disabled]="!registerForm.valid"
            >
              ایجاد حساب
            </button>
          </form>
         

          <hr class="my-8" />

          <p class="mt-4">
            <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                href="#"
                routerLink="login">
              حساب کاربری دارید؟ وارد شوید
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>






